.main {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-top: 60px;
    overflow: hidden;
}

.tool {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    height: calc(100vh - 60px);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

.tool__workarea {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: center;
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    flex: 1 1 0%;
    background-color: #f3f0ec;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#droparea {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 6px 24px 30px;
}

.tool__header {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    padding: 6px 24px 30px;

}

.tool__header__title {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-top: 0;
    font-size: 42px;
    letter-spacing: 0;
    font-weight: 600;
    color: #383e45;
    margin-bottom: 8px;
    line-height: 46px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.tool__header__subtitle {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    text-align: center;
    box-sizing: inherit;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    max-width: 800px;
    font-size: 22px;
    font-weight: 400;
    color: #383e45;
    letter-spacing: 0;
    margin: 0 auto 8px;
    line-height: 32px;
}

.uploading__bar {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    text-align: center;
    box-sizing: inherit;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    width: 100%;
    height: 2px;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    display: none;
}

.uploading__bar__completed {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    text-align: center;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    background: #e5322d;
    transition: all .6s linear;
    display: block;
    height: 100%;
    width: 0;
    border-radius: 2px;
}

.uploader {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3px;
    direction: ltr;
    font-feature-settings: "lnum" 1;
    color: #161616;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 22px;
    text-align: center;
    position: relative;
    display: table;
}

.dropFilesZone {
    padding: '2em';
    border: '2px dashed rgba(0, 0, 0, .1)';
    color: 'rgba(0, 0, 0, .4)';
    width: '100%';
    display: 'flex';
    flex-wrap: 'wrap';
    box-sizing: 'border-box';
    text-align: 'center';
    background-color: #fff;
}

.dropFilesZoneDiv {
    width: '100%';
}

.dropFilesWarningGridZone {
    width: '70%';
    text-align: 'center';
    color: 'red';
    font-weight: 'bold';
}

.gridContainer {
    padding-top: '10px';
}

.mergeButton {
    margin: '10px';
    width: '166px';
}